# Arquivos de byte compilados Python
__pycache__/
*.pyc


# Diretório de dados do MySQL (se você estiver usando um volume para persistência de dados)
mysql_data/

src/ms_orders/mysql_data/\#ib_16384_0.dblwr
src/ms_orders/mysql_data/\#ib_16384_1.dblwr
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo10
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo11
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo12
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo13
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo14
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo15
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo16
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo17
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo18
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo19_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo20_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo21_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo22_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo23_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo24_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo25_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo26_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo27_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo28_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo29_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo30_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo31_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo32_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo33_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo34_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo35_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo36_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo37_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo38_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo39_tmp
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo8
src/ms_orders/mysql_data/\#innodb_redo/\#ib_redo9
src/ms_orders/mysql_data/\#innodb_temp/temp_1.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_10.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_2.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_3.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_4.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_5.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_6.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_7.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_8.ibt
src/ms_orders/mysql_data/\#innodb_temp/temp_9.ibt
src/ms_orders/mysql_data/auto.cnf
src/ms_orders/mysql_data/binlog.000001
src/ms_orders/mysql_data/binlog.000002
src/ms_orders/mysql_data/binlog.index
src/ms_orders/mysql_data/ca-key.pem
src/ms_orders/mysql_data/ca.pem
src/ms_orders/mysql_data/client-cert.pem
src/ms_orders/mysql_data/client-key.pem
src/ms_orders/mysql_data/ib_buffer_pool
src/ms_orders/mysql_data/ibdata1
src/ms_orders/mysql_data/ibtmp1
src/ms_orders/mysql_data/mysql.ibd
src/ms_orders/mysql_data/mysql.sock
src/ms_orders/mysql_data/mysql/general_log.CSM
src/ms_orders/mysql_data/mysql/general_log.CSV
src/ms_orders/mysql_data/mysql/general_log_213.sdi
src/ms_orders/mysql_data/mysql/slow_log.CSM
src/ms_orders/mysql_data/mysql/slow_log.CSV
src/ms_orders/mysql_data/mysql/slow_log_214.sdi
src/ms_orders/mysql_data/olist_orders/orders.ibd
src/ms_orders/mysql_data/performance_schema/accounts_145.sdi
src/ms_orders/mysql_data/performance_schema/binary_log_trans_189.sdi
src/ms_orders/mysql_data/performance_schema/cond_instances_82.sdi
src/ms_orders/mysql_data/performance_schema/data_lock_waits_161.sdi
src/ms_orders/mysql_data/performance_schema/data_locks_160.sdi
src/ms_orders/mysql_data/performance_schema/error_log_83.sdi
src/ms_orders/mysql_data/performance_schema/events_errors_su_139.sdi
src/ms_orders/mysql_data/performance_schema/events_errors_su_140.sdi
src/ms_orders/mysql_data/performance_schema/events_errors_su_141.sdi
src/ms_orders/mysql_data/performance_schema/events_errors_su_142.sdi
src/ms_orders/mysql_data/performance_schema/events_errors_su_143.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_cu_111.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_hi_112.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_hi_113.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_su_114.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_su_115.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_su_116.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_su_117.sdi
src/ms_orders/mysql_data/performance_schema/events_stages_su_118.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_119.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_120.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_121.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_122.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_123.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_124.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_125.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_126.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_127.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_128.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_129.sdi
src/ms_orders/mysql_data/performance_schema/events_statement_130.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_131.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_132.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_133.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_134.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_135.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_136.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_137.sdi
src/ms_orders/mysql_data/performance_schema/events_transacti_138.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_cur_84.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_his_85.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_his_86.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_87.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_88.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_89.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_90.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_91.sdi
src/ms_orders/mysql_data/performance_schema/events_waits_sum_92.sdi
src/ms_orders/mysql_data/performance_schema/file_instances_93.sdi
src/ms_orders/mysql_data/performance_schema/file_summary_by__94.sdi
src/ms_orders/mysql_data/performance_schema/file_summary_by__95.sdi
src/ms_orders/mysql_data/performance_schema/global_status_181.sdi
src/ms_orders/mysql_data/performance_schema/global_variables_184.sdi
src/ms_orders/mysql_data/performance_schema/host_cache_96.sdi
src/ms_orders/mysql_data/performance_schema/hosts_146.sdi
src/ms_orders/mysql_data/performance_schema/keyring_componen_191.sdi
src/ms_orders/mysql_data/performance_schema/keyring_keys_152.sdi
src/ms_orders/mysql_data/performance_schema/log_status_174.sdi
src/ms_orders/mysql_data/performance_schema/memory_summary_b_154.sdi
src/ms_orders/mysql_data/performance_schema/memory_summary_b_155.sdi
src/ms_orders/mysql_data/performance_schema/memory_summary_b_156.sdi
src/ms_orders/mysql_data/performance_schema/memory_summary_b_157.sdi
src/ms_orders/mysql_data/performance_schema/memory_summary_g_153.sdi
src/ms_orders/mysql_data/performance_schema/metadata_locks_159.sdi
src/ms_orders/mysql_data/performance_schema/mutex_instances_97.sdi
src/ms_orders/mysql_data/performance_schema/objects_summary__98.sdi
src/ms_orders/mysql_data/performance_schema/performance_time_99.sdi
src/ms_orders/mysql_data/performance_schema/persisted_variab_187.sdi
src/ms_orders/mysql_data/performance_schema/prepared_stateme_175.sdi
src/ms_orders/mysql_data/performance_schema/processlist_100.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_165.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_166.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_167.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_168.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_170.sdi
src/ms_orders/mysql_data/performance_schema/replication_appl_171.sdi
src/ms_orders/mysql_data/performance_schema/replication_asyn_172.sdi
src/ms_orders/mysql_data/performance_schema/replication_asyn_173.sdi
src/ms_orders/mysql_data/performance_schema/replication_conn_162.sdi
src/ms_orders/mysql_data/performance_schema/replication_conn_164.sdi
src/ms_orders/mysql_data/performance_schema/replication_grou_163.sdi
src/ms_orders/mysql_data/performance_schema/replication_grou_169.sdi
src/ms_orders/mysql_data/performance_schema/rwlock_instances_101.sdi
src/ms_orders/mysql_data/performance_schema/session_account__151.sdi
src/ms_orders/mysql_data/performance_schema/session_connect__150.sdi
src/ms_orders/mysql_data/performance_schema/session_status_182.sdi
src/ms_orders/mysql_data/performance_schema/session_variable_185.sdi
src/ms_orders/mysql_data/performance_schema/setup_actors_102.sdi
src/ms_orders/mysql_data/performance_schema/setup_consumers_103.sdi
src/ms_orders/mysql_data/performance_schema/setup_instrument_104.sdi
src/ms_orders/mysql_data/performance_schema/setup_objects_105.sdi
src/ms_orders/mysql_data/performance_schema/setup_threads_106.sdi
src/ms_orders/mysql_data/performance_schema/socket_instances_147.sdi
src/ms_orders/mysql_data/performance_schema/socket_summary_b_148.sdi
src/ms_orders/mysql_data/performance_schema/socket_summary_b_149.sdi
src/ms_orders/mysql_data/performance_schema/status_by_accoun_177.sdi
src/ms_orders/mysql_data/performance_schema/status_by_host_178.sdi
src/ms_orders/mysql_data/performance_schema/status_by_thread_179.sdi
src/ms_orders/mysql_data/performance_schema/status_by_user_180.sdi
src/ms_orders/mysql_data/performance_schema/table_handles_158.sdi
src/ms_orders/mysql_data/performance_schema/table_io_waits_s_107.sdi
src/ms_orders/mysql_data/performance_schema/table_io_waits_s_108.sdi
src/ms_orders/mysql_data/performance_schema/table_lock_waits_109.sdi
src/ms_orders/mysql_data/performance_schema/threads_110.sdi
src/ms_orders/mysql_data/performance_schema/tls_channel_stat_190.sdi
src/ms_orders/mysql_data/performance_schema/user_defined_fun_188.sdi
src/ms_orders/mysql_data/performance_schema/user_variables_b_176.sdi
src/ms_orders/mysql_data/performance_schema/users_144.sdi
src/ms_orders/mysql_data/performance_schema/variables_by_thr_183.sdi
src/ms_orders/mysql_data/performance_schema/variables_info_186.sdi
src/ms_orders/mysql_data/private_key.pem
src/ms_orders/mysql_data/public_key.pem
src/ms_orders/mysql_data/server-cert.pem
src/ms_orders/mysql_data/server-key.pem
src/ms_orders/mysql_data/sys/sys_config.ibd
src/ms_orders/mysql_data/undo_001
src/ms_orders/mysql_data/undo_002
/src/ms_customers/mysql_data_customers
/src/ms_orders/mysql_data_orders
/src/ms_products/mysql_data_products
